body {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  line-height: 1;
  text-align: center;
}

li {
  margin: 0;
  line-height: 1;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.page-wrapper {
  max-width: 70ch;
  margin: auto;
  padding: 1rem;
}

.page-wrapper > header {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #aaa;
  padding: 1em;
  margin-bottom: 2em;
}

.page-wrapper > header img {
  width: 150px;
}

.page-wrapper > header div {
  flex-grow: 1;
}

.page-wrapper > header h1,
.page-wrapper > header h2 {
  margin: 0;
  text-align: center;
}

main {
  margin: auto;
  max-width: 60ch;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h3 {
  font-size: 3rem;
  width: max-content;
  margin: 3rem auto;
  color: #005EB8;
  font-variant: small-caps;
}

.overview {
  text-align: left;
  max-width: 50ch;
}
.overview li {
  font-size: 2rem;
  line-height: 1.5;
  list-style: initial;
}

.presentation {
  margin-bottom: 6em;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.presentation header {
  margin-bottom: 2rem;
  text-align: center;
  color: #666;
  margin: 0;
  width: 100%;
}

.presentation header h4 {
  font-size: 3rem;
  margin: 1rem;
}

.presentation header h5 {
  font-style: italic;
  font-size: 1.5rem;
}

figure {
  display: grid;
  grid-template-columns: 12em 1fr;
  grid-template-rows: 1fr;
  
  align-items: center;
  justify-content: center;

  min-width: 50ch;
  min-height: 12em;
  padding: 0 1rem;

  border: 1px solid #666;
  border-radius: 4rem;
  background-image: radial-gradient(rebeccapurple 30%, white 30.1%);
  background-size: 100em 100em;
  background-position: 52rem;
}


figure > img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  
  width: 7em;
  height: 7em;
  margin: auto;

  border-radius: 50%;
}


.badges img {
  width: 2.25rem;
  margin: 0 0.7rem;
}

figcaption {
  text-align: center;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

figcaption header {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #666;
  width: max-content;
  margin: 0;
  text-align: center;
}

figcaption p {
  margin-bottom: 0.75rem;
  margin: 0;
}

.social ul, .badges ul {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;
}

.badges ul {
  margin-bottom: 0.75rem;
}

.social li {
  font-size: 2rem;
  margin: 0.15rem 0.75rem;

}
.social li a {
  color: navy;
}
