.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
  max-width: 170ch;
  margin: auto;
}

.card {
  border: 1px solid black;
}

.card img {
  display: block;
  width: 75%;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}